body{
    border: 0px solid black;
    display: block;
    height: 400px;
    width:  auto;
  }
  div{
    border: 2px solid black;
      width: calc(80% - 4px);
     padding: 0.5em;

}

.uniform{
  margin: 40px;
}
.non-uniform{
    margin: 10px 30px 20px 40px;
    position: relative;
    left: 1.5em;
    width: calc(80% - 40px);

  }
.negative{
    margin: -20px;
    padding: 20px 20px 0 30px;
    position: relative;
    top: 0em;
    left: 2em;
    right:3em;

  }
 
  