@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Lato, sans-serif;
    font-size: 14px;
    line-height: 1.4;
}
body{
    background: #eee;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2em;
}
body > *{
    width: 100%;
}

.section{
    display: flex;
    background: #fff;
    margin: 0 auto;
    padding: 1.5em 1.2em;
    border-radius: 0.3em;
    box-shadow: 0 0 1em rgb(0, 0, 0, 0.2);
    max-width: 100ch;
    /* flex-wrap: wrap; */
    gap: 1em;
}

.calendar{
    display: flex;
    gap:0;
}
.calendar > *{
    border: 1px solid #ccc;
    flex: 1 1 auto;
}
.calendar .main{
flex-basis: 60%;
}
.calendar .aside{
    flex-basis: 30ch;
    display: flex;
    flex-direction: column;
}
.calendar .aside > *{
   flex-grow: 1;
}
.calendar .aside div{
    padding: 1em;
    border:1px solid #ccc;
}
.calendar .row {
    display: flex;
    flex-direction: column;
}
.calendar .row header{
    text-align: center;
    padding: 1em;
    border: 1px solid #ccc;
}
.calendar .row header h2 {
    font-size: 1em;
    font-weight: normal;
}
.calendar .row > ul{
    display: flex;
}

.calendar .row > ul li {
    flex: 1 1 auto;
    display: block;
    text-align: center;
    padding: 0.5em 1em;
    border: 1px solid #ccc;
}
