.item{
    box-sizing: border-box;
    border: 1px solid black;
    background-color: #ccc; /* Just for visibility */
    padding: 1em;    
    flex-grow: 0;
}
.nowrap{
    display: flex;
    flex-wrap: nowrap;  
    flex-direction: row;
    /* margin-left: 1em; */
    border: 2px solid rgb(37, 15, 240);
    padding: 1em;
    width: 40%;
}

.wrap{
    display: flex;
    flex-wrap: wrap;  
    flex-direction: row;
    /* margin-left: 1em; */
    border: 2px solid rgb(37, 15, 240);
    padding: 1em;
    width: 40%;
}
.wrap-reverse{
    display: flex;
    flex-wrap: wrap-reverse;  
    flex-direction: row;
    /* margin-left: 1em; */
    border: 2px solid rgb(37, 15, 240);
    padding: 1em;
    width: 40%;
}