h2{
    color: red;
}

p{
    font-size: 24px;
}

.highlight{
    background-color: rgb(100, 100, 202);
}

#main-title{
    color: green;
}
#special-paragraph{
    font-style: italic;
}
ul{
    list-style-type: square;
}
li{
    color: darkblue;
}