<div class="theme-container">
    <div class="theme-name-wrapper">
        <div class="theme-name">
            <a routerLink="/themes/{{theme.id}}" class="normal">
                <h2>{{theme.themeName}} </h2>
            </a>
            <div class="columns">
                <div>
                    <p>Date: <time>{{theme.created_at}}</time></p>
                    <div class="nick-name">
                        <p>Username: <span>{{theme.userId.username}}</span></p>
                    </div>
                </div>
                <div class="subscribers">
                    @if (isLoggedIn && theme.userId.id !== currentUserId) {
                        @if (isSubscribed(theme.id)) {
                            <button class="unsubscribe" (click)="toggleSubscribe(theme.id)">Unsubscribe</button>
                        } @else {
                            <button class="subscribe" (click)="toggleSubscribe(theme.id)">Subscribe</button>
                        }
                    }
                    <p>Subscribers: <span>{{theme.subscribers.length}}</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
