@media (width<=600px){
    header nav{
        display: block;
        margin-left: 0; 
    }

    header nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.2em;
    }

    .header-title h1{
        font-size: 35px;
    }

    .header-title {
        padding: 1em;
    }

    .header-title p{
        font-size: 16px;
        max-width: 60ch;
        margin: 0 auto;
    }
    .choose-us ul{
        max-width: 380px;
        margin: 0 auto;
        flex-direction: column;
        gap: 2em;
    }
    .about-us p:nth-child(3){
        width: 100%;
        /* margin: 0 auto; */
    }

    .team-description ul li img {
        width: 100px;
        height: auto;
    }
}