<form class="register" (ngSubmit)="onSubmit()">
    <fieldset>
      <h2>Registration Form</h2>

      <!-- username -->
      <p class="field field-icon">
        <label for="username"><span><i class="fas fa-user"></i></span></label>
        <input 
          [class.input-error]="isUsernameValid"
          type="text" 
          name="username" 
          id="username" 
          placeholder="Johny"
          formControlName="username">
      </p>
      @if (isUsernameValid) {
        <p class="error">
          {{ usernameErrorMessage }}
        </p>
      }

      <!-- email -->
      <p class="field field-icon">
        <label for="email"><span><i class="fas fa-envelope"></i></span></label>
        <input 
          [class.input-error]="isEmailValid"
          type="email" 
          name="email" 
          id="email" 
          placeholder="john.doe@gmail.com"
          formControlName="email">
      </p>
      @if (isEmailValid) {
        <p class="error">
          {{ emailErrorMessage }}
        </p>
      }

      <!-- telephone -->
      <p class="field field-icon">
        <label for="tel"><span><i class="fas fa-phone"></i></span></label>
          <select name="select-tel" id="select-tel" class="tel">
              <option value="00359">+359</option>
          </select>
        <input 
          type="text" 
          name="tel" 
          id="tel" 
          placeholder="885 888 888"
          formControlName="phone">
      </p>
     
      <!-- password -->
      <div formGroupName="passwords">
        <p class="field field-icon">
          <label for="password"><span><i class="fas fa-lock"></i></span></label>
          <input 
            [class.input-error]="isPasswordsValid"
            type="password" 
            name="password" 
            id="password" 
            placeholder="******"
            formControlName="password">
        </p>
        @if (isPasswordsValid) {
          <p class="error">
            {{ passwordErrorMessage }}
          </p>
        }

        <!-- rePassword -->
        <p class="field field-icon">
          <label for="rePassword"><span><i class="fas fa-lock"></i></span></label>
          <input 
            [class.input-error]="isPasswordsValid"
            type="password" 
            name="rePassword" 
            id="rePassword" 
            placeholder="******"
            formControlName="rePassword">
        </p>
        @if (isPasswordsValid) {
          <p class="error">
            {{ rePasswordErrorMessage }}
          </p>
        }
      </div>

      <button [disabled]="registerForm.valid">Create Account</button>

      <p class="text-center">
        Have an account?
        <a routerLink="/login">Log In</a>
      </p>
    </fieldset>
  </form>
