<form class="login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <fieldset>
    <h2>Login Form</h2>

    <p class="field field-icon">
        <label for="email"><span><i class="fas fa-envelope"></i></span></label>
        <input [class.input-error]="isEmailValid" 
        type="email" 
        name="email" 
        id="email"
        placeholder="john.doe@gmail.com" 
        formControlName="email">
    </p>

    @if (isEmailValid) {
        <p class="error">
            {{ emailErrorMessage }}
        </p>
        }

    <p class="field field-icon">
        <label for="password"><span><i class="fas fa-lock"></i></span></label>
        <input [class.input-error]="isPasswordValid" 
            type="password" name="password" id="password"
            placeholder="******" 
            formControlName="password">
    </p>

    @if (isPasswordValid) {
        <p class="error">
            {{ passwordErrorMessage }}
        </p>
        }

    <button [disabled]="loginForm.invalid">Login</button>

    <p class="text-center">
        Have an account?
        <a routerLink="/register">Register</a>
    </p>

  </fieldset>
</form>
